<div class="fs2e chat-card weapon" data-actor-id="{{ownerID}}" data-item-id="{{uuid}}">
  {{> "systems/fs2e/templates/partials/weapon-card-chat.hbs"}}

  <button class="attack" data-action="Attack">{{localize "fs2e.chat.actions.attack"}}</button>
  {{#if system.reload}}
  <button class="reload" data-action="Reload">{{localize "fs2e.chat.actions.reload"}}</button>
  {{/if}}
</div>